<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<title>ShareSpace - Home</title>
	
	<!-- Bootstrap core CSS -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<main role="main" class="container" style="padding-top: 10px">
	  <div class="jumbotron">
	    <h1>ShareSpace</h1>
	    <p class="lead">An app meant to make sharing files between friends easier, and fun.</p>
	    <div class="text-right">
	    	<a class="btn btn-lg btn-primary text-right" th:href="@{/login}" role="button">Login &raquo;</a>
	    </div>
	  </div>
	</main>
</body>
</html>